.gallery-card {
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-card:hover {
    transform: scale(1.1);
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1);
  }
  